{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="subforum">
            {% if forums %}
                <div class="subforum-title">
                    <h1>Suallar</h1>
                </div>

                {% for forum in forums %}
                    <div class="subforum-row">
                        <div class="subforum-icon subforum-column center">
                            <i class="no icon"></i>
                        </div>
                        <div class="subforum-description subforum-column">
                            <h4><a href="{{forum.get_url}}">{{forum.title}}</a></h4>
                            <p>İzah: {{forum.description}} </p>
                        </div>
                        <div class="subforum-stats subforum-column center">
                            <span>{{forum.num_posts}} Post</span>
                        </div>
                        <div class="subforum-info subforum-column">
                            {% if forum.last_post %}
                                <b><a href="{{forum.last_post.get_url}}">Son post</a></b> Müəllif: <a href="">{{forum.last_post.user.fullname|title}}</a> 
                                <br>on <small>{{forum.last_post.date|date}}</small>
                            {% else %}
                                <span>Bu kateqoriya boşdur.</span>
                            {% endif %}
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <div class="subforum-title">
                    <h1><i class="fa fa-frown-o"></i>&nbsp;Hələ ki, post etməmisiniz.</h1>
                </div>
            {% endif %}
        </div>
        <!--More-->
        
        
        
    </div>

    <!-- Forum Info -->
    <div class="forum-info">
        <div class="chart">
            İQ - Statistika &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <span><u>{{num_posts}}</u> Post <u>{{num_categories}}</u> Kateqoriya <u>{{num_users}}</u> Üzv.</span><br>
        {% if forums %}
            <span>Son post: <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> Tarix: {{last_post.date|date}} Müəllif: <a href="">{{last_post.user.fullname|title}}</a></span>.<br>
            <span>Keçid: <a href="{% url 'latest_posts' %}">Ən yeni postlar</a> .</span><br>
        {% endif %}
    </div>

    {% endblock content %}